body {
    margin: 0;
    padding: 0;
    background-image: url(../Resources/background.jpg);
    font-family: serif;
}

nav {

    width: 100%;
    height: 40px;
    position: static;
    background: rgb(10, 185, 180);
    padding: 0.1em;
    text-align: center;
    box-shadow: 0 1px 2px 4px #808080;
    box-shadow: 0 1px 1px 3px rgba(128, 128, 128, 0.46);
    top: 0;

}

nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }


        nav ul li {
            display: inline;
            background: rgb(10, 185, 180);
        }

    nav a {
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-family: Open Sans, helvetica, sans-serif;
    }

#title {
    color: transparent;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 48%;
}

    #title img {
        margin-top: 5px;
    }

#navLeft {
    float: left;
    margin: 0 5px;
}

    #navLeft a {
        color: transparent;
        margin: 0 10px 0 0;
        cursor: pointer;
    }
     #navLeft img:hover {
         background: #018d89;
         background: rgba(1, 141, 137, 0.06);
     }

#navLeft img {
        width: 20px;
        height: 15px;
        padding: 0.6em 0 0.4em 0;
    }

#navRight {
    padding: 0.6em 0 0 0;
    float: right;
    margin: 1px 20px;
}

    #navRight li {
        border-left: 1px rgb(0, 145, 145) solid ;
        padding: 0.3em 0.8em;
    }

#navLeft li:last-of-type img {
    height: 18px;
}

#index {
    width: 420px;
    height: 600px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}
#index img {
    width: 250px;
    margin: 50px auto;
}
#authentication form{
    box-shadow: 0 1px 1px 3px #808080;
    box-shadow: 0 1px 1px 3px rgba(128, 128, 128, 0.46);

}
#authentication input
{
    left: 0;
    color: gray;
    height: 50px;
    font-size: 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid gray;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;

    margin: 2px auto;
    width: 400px;
}

#authentication input[type=button] {
    border: none;
    margin: 10px auto 10px auto;
    background: rgb(54, 125, 193);
    color: white;
    height: 30px;
    border-radius: 3px;
    font-size: 15px;
    width: 100px;
    box-shadow: 0 1px 1px 3px #808080;
    box-shadow: 0 1px 1px 3px rgb(34, 112, 186);
    cursor: pointer;
}

#authentication p {
    margin: 0 auto 10px;
    color: gray;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}