<link href="../Content/Diary.css" rel="stylesheet" />
<div id="canvas">
    <div id="book-zoom">
        <div class="sj-book">
            <div depth="5" class="hard"> <div class="side"></div> </div>
            <div depth="5" class="hard front-side"> <div class="depth"></div> </div>
            <div class="own-size"></div>
            <div class="own-size even"></div>
            <div class="hard fixed back-side p111"> <div class="depth"></div> </div>
            <div class="hard p112"></div>
        </div>
    </div>
    <div id="slider-bar" class="turnjs-slider">
        <div id="slider"></div>
    </div>
</div>

<script src="../Scripts/Diary/turnjs/jquery.js"></script>
<script src="../Scripts/Diary/turnjs/modernizr.js"></script>
<script src="../Scripts/Diary/turnjs/turn.js"></script>
<script src="../Scripts/Diary/turnjs/hash.js"></script>
<script src="../Scripts/Diary/turnjs/jquery.mousewheel.min.js"></script>
<script src="../Scripts/Diary/turnjs/jquery-ui-1.8.20.custom.min.js"></script>
<script src="../Scripts/Diary/turnjs/Diary.js"></script>
